@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Inter:wght@100&family=Maven+Pro&family=Pixelify+Sans&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

body {
    padding: 0px;
    margin: 0;
}

* {
    padding: 0px;
    margin: 0;
    color: white;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
}

#myInput::placeholder {
    color: black;
}

#body-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    display: block;
    z-index: -1;
}

#top-section {
    top: 0;
    z-index: 99 !important;
}

#top-section center {
    z-index: 99;
}

#myDropdown {
    margin-right: 50px;
}

h1,
h2,
h3 {
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
}

#opt-elm {
    background: rgb(41, 41, 41);
    width: 1080px;
    height: 50px;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 5px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

#opt-elm i {
    margin-right: 25px;
    transition: all 0.2s;
}

#opt-elm i:hover {
    transform: scale(1.08);
}

#star-btn {
    transition: 0.2s;
    color: white;
}

#star-btn:hover {
    color: #FFD43B;
}

#flag-btn {
    transition: color 0.2s;
}

#flag-btn:hover {
    color: #FF0000;
}

#play {
    width: 200px;
    height: 64px;
    --border-radius: 25px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    border: 0;
    background-color: rgb(20, 20, 20);
    color: #fff;
    z-index: 1;
    transition: .2s;
    text-decoration: none;
    transition: 0.1s;
    font-size: 35px;
    font-weight: bolder;
    display: table;
    line-height: 70px;
}

#play-a {
    text-decoration: none;
    font-size: 36px;
    width: 200px;
    height: 64px;
}

#down {
    margin-top: 100px;
    width: 35px;
    opacity: 35%;
    margin-bottom: 100px;
    transition: opacity 0.2s;
}

#down:hover {
    opacity: 100%;
}

#invite {
    margin-top: -150px;
    margin-bottom: -200px;
}

@keyframes rotate-hue {
    to {
        filter: hue-rotate(1turn);
    }
}

#play::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(#488cfb, #29dbbc, #ddf505, #ff9f0e, #e440bb, #655adc, #488cfb);
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
    font-size: 36px;
}

#play:hover::after {
    animation-play-state: running;
    cursor: pointer;
}

#play:hover {
    transform: scale(1.08);
}

#title {
    height: 50px;
    font-family: 'Pixelify Sans', sans-serif;

    text-align: center;
    color: white;
    font-size: 50px;

}

#dropbtn img {
    transition: 0.3s;
    transform: rotate(90deg);
}

#dropbtn:hover img {
    transform: rotate(0deg);
}

p {
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
}

#astro {
    /* margin-bottom: 100px; */
    position: relative;
    margin-right: 50px;
}

#spaccer {
    margin-bottom: 50px;
}

/* NavBar Section */

#navbar {
    background: rgb(41, 41, 41);
    background-size: cover;
    width: 100%;
    overflow: hidden;
    margin: 0%;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed !important;
}

#secret-btn {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background: none;
    border: none;
    opacity: 0;
}

#support-btn {
    color: white;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
    margin-right: 25px;
}

#support-btn:hover {
    animation: size-up 0.2s;
    transform: scale(1.2);
}

#search {
    background: none;
    border: none;
    font-size: 20px;
    margin-right: 20px;
    transition: 0.2s;
    z-index: 10000;
    fill: white;
    color: white;
}

#search:hover {
    animation: size-up 0.2s;
    transform: scale(1.2);
}

#game-requests-btn {
    color: white;
    background-color: black;
    border-color: white;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: large;
    font-family: 'Comfortaa', sans-serif;
    transition: 0.2s;
}

#game-requests-btn:hover {
    animation: size-up 0.2s;
    transform: scale(1.08);
}

#home-btn {
    color: white;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
    margin-right: 25px;
}

#home-btn:hover {
    animation: size-up 0.2s;
    transform: scale(1.2);
}

.fullScreen {
    width: 100%;
    height: 100%;
    position: absolute;
}

#games #games-ul li {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    display: inline-block;
    transition: 0.2s;
    border-radius: 45px;
}

#games #games-ul li a img {
    border-radius: 45px;
    transition: 0.2s;
    width: 200px;
    height: 200px;
    margin-bottom: 8px;
}

#games #games-ul li:hover {
    transform: scale(1.08);
    background-color: #2089FC;
}

#games #games-ul li a:hover {
    color: blue !important;
}

#games #games-ul li a {
    white-space: nowrap;
    text-decoration: none;
}

.games-ul li a img {
    border-radius: 45px;
    transition: 0.2s;
    width: 200px;
}

#games #games-ul li.show {
    display: block;
}

#myDropdown.show {
    display: block;
}


#fullscreen-btn {
    transition: all 0.2s;
}

#fullscreen-btn:hover {
    transform: scale(1.08);
    color: #74C0FC;
}

/*    */



#home-btn {
    transition: 0.2s;
}

#home-btn:hover {
    transform: scale(1.08);
}

#search-bar {
    margin-top: 50px;
    width: 350px;
    height: 50px;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    background-color: rgb(41, 41, 41);
    padding-left: 10px;
    padding-right: 0px;
}

#search-bar:focus {
    outline: none;
    border: 1px solid mediumseagreen;
}

textarea:focus {
    outline: none !important;
    border-color: mediumseagreen;
    padding-left: 50px;
    padding-right: 0px;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3f3f3f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0 0 10px 10px;
    width: 10px !important;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block !important;
    text-align: left;
    background: rgb(87, 87, 87);
    transition: 0.2s;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 10px !important;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    font-size: 15px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #838383;
    animation: size-up 0.2s;
    transform: scale(1.08);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

#heart {
    color: red;
}

.divider-content {
    width: 300px;
}

#embededGame {
    width: 1080px !important;
    height: 616px !important;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 0px;
    outline: none;
    border: none;
}

canvas {
    border-radius: 15px;
}

#game-info-span {
    margin-right: auto;
    align-items: center;
}



#game-icon {
    margin-right: auto;
    align-self: center;
    width: 30px;
    margin-right: auto;
    margin-right: 10px;
    margin-left: 25px;
    border-radius: 5px;
}

#game-info {
    margin-right: auto;
    align-self: center;
    display: inline;
    line-height: 50px;
    font-weight: 900;
}